## Today's Topics:
* Data Structures
  * List
* Collections

### Data Structures:
A data structure is a way of organizing and storing data so that it can be accessed and worked with efficiently. Python provides several built-in data structures, which are:
* String
* List
* Dictionary
* Tuple
* Set

#### List:
A built-in data type that stores set of values, it can store elements of different types (int, str, float etc.).
* Mutable = Elements in list can be changed. 
* Iterable = Looping is allowed.
* Arrange in order
* Allows duplicate values

In [1]:
# Creating an empty list and checking it's type.

null_list = []
print (type(null_list))

<class 'list'>

In [2]:
len(null_list)

0

In [2]:
## Creating a membered list
students = ["Asad", "Farooq", "Shayan", "Hashir", "Talha", "Umar", "Asim", "Uzair"]
new_students = ["Laiba", "Shumaila", "Ruksana", "Shabana"]

In [4]:
len(students)

8

### Index / Indices:
Indexing is the way you access individual elements in data-structures/sequences.
* Indexing starts with zero.
* Python also supports negative indexing (i.e -1, -2, -3 etc.)
* We always use [] to access elements using indexing.

In [ ]:
# +ve          0        1         2         3        4       5        6       7
students = ["Asad", "Farooq", "Shayan", "Hashir", "Talha", "Umar", "Asim", "Uzair"]
# -ve         -8      -7         -6        -5        -4      -3      -2      -1

In [6]:
students[4], students[-3]

('Talha', 'Umar')

### Slicing:
List slicing in Python is a way to access a range of elements from a list.
* Syntax = list[start:stop:step]
* Allows negaive indexing
* Can skip elements using step value
* No errors
* Immutable (creates a copy)

In [17]:
students[1:5], students[-5:-1 # slicing using positive and negative indexing

(['Farooq', 'Shayan', 'Hashir', 'Talha'], ['Hashir', 'Talha', 'Umar', 'Asim'])

In [18]:
students[1:7:2] # slicing using steps

['Farooq', 'Hashir', 'Umar']

In [19]:
students[:] # gives the entire list from start to end

['Asad', 'Farooq', 'Shayan', 'Hashir', 'Talha', 'Umar', 'Asim', 'Uzair']

In [20]:
students[::-1] # reverse the list using negitive stepping

['Uzair', 'Asim', 'Umar', 'Talha', 'Hashir', 'Shayan', 'Farooq', 'Asad']

## List Functions:

In [15]:
students.append("Abdullah") # adds a single member in a list at a time
students

['Asad',
 'Farooq',
 'Hashir',
 'Talha',
 'Ali',
 'Umar',
 'Asim',
 'Uzair',
 'Laiba',
 'Shumaila',
 'Ruksana',
 'Shabana',
 'Laiba',
 'Shumaila',
 'Ruksana',
 'Shabana',
 'Abdullah']

In [13]:
students.insert(4,"Ali") # adds a single member in a list on a given index at a time
students

['Asad',
 'Farooq',
 'Hashir',
 'Talha',
 'Ali',
 'Umar',
 'Asim',
 'Uzair',
 'Laiba',
 'Shumaila',
 'Ruksana',
 'Shabana']

In [3]:
students.extend(new_students) # adds another collection elements one by one
students

['Asad',
 'Farooq',
 'Shayan',
 'Hashir',
 'Talha',
 'Umar',
 'Asim',
 'Uzair',
 'Laiba',
 'Shumaila',
 'Ruksana',
 'Shabana']

In [16]:
del students [2] # delete single element by index
students

['Asad',
 'Farooq',
 'Talha',
 'Ali',
 'Umar',
 'Asim',
 'Uzair',
 'Laiba',
 'Shumaila',
 'Ruksana',
 'Shabana',
 'Laiba',
 'Shumaila',
 'Ruksana',
 'Shabana',
 'Abdullah']

In [19]:
students.pop() # deletes the last element by index and returns the value of deleted element

'Ruksana'

In [5]:
students.remove("Laiba") # removes the given element from the list permanently
students

['Asad',
 'Farooq',
 'Shayan',
 'Hashir',
 'Talha',
 'Umar',
 'Asim',
 'Uzair',
 'Shumaila',
 'Ruksana',
 'Shabana']

In [21]:
new_students.clear() # deletes all elements of list
new_students

[]

In [29]:
students

['Asad',
 'Farooq',
 'Talha',
 'Ali',
 'Umar',
 'Asim',
 'Uzair',
 'Laiba',
 'Shumaila',
 'Ruksana',
 'Shabana']

In [28]:
students.index("Uzair") # displays the index of the first occurence of the given element

6

In [30]:
students.count("Ali") # counts the occurence of the given element

1

In [33]:
students.sort() # sorts the elements of list according to ASCII value permanently
students

['Ali',
 'Asad',
 'Asim',
 'Farooq',
 'Laiba',
 'Ruksana',
 'Shabana',
 'Shumaila',
 'Talha',
 'Umar',
 'Uzair']

In [34]:
students.reverse() # reverse the elements of list permanently
students

['Uzair',
 'Umar',
 'Talha',
 'Shumaila',
 'Shabana',
 'Ruksana',
 'Laiba',
 'Farooq',
 'Asim',
 'Asad',
 'Ali']