## Today's Topics:
* Data Structures
  * Dictionary
  * Tuple
  * Set
* Collections

### Dictionary:
A dictionary in Python is an unordered, mutable collection of key-value pairs, where each key is unique and maps to a value.
* structure = {key1:value1, key2:value2, key3:value3,...}
* keys: unique and immutable (e.g str, int, tuples)
* values: any data type and allow duplicates
* Mutable: can change, add or remmove key value pairs
* unordered: not arranged sequently
* Access: using square brackets dict[key]
* Iterable: loops are allowed
* Indexing: not allowed

#### Creating a Dictionary:

In [45]:
record1 = {"Name": "Anas", "Age":23, "City":"Karachi", "Gender":"Male"}
meta1 = {"Height": 5.7 ,"Blood Group": "B+", "Married":"Yes"}
print(record1)
print(type(record1))
print("length of record1 is", len(record1))

{'Name': 'Anas', 'Age': 23, 'City': 'Karachi', 'Gender': 'Male'}
<class 'dict'>
length of record1 is 4

#### Adding a new key:value pair:

In [30]:
record1["Father Name"] = "Nadeem"
record1["Contact"] = "+92 3142270474"
record1 ["Qualification"] = "BS"
record1

{'Name': 'Anas',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'Father Name': 'Nadeem',
 'Contact': '+92 3142270474',
 'Qualification': 'BS'}

#### Updating a key:value pair: (If a key already exist it will update it's value)

In [31]:
record1["Father Name"] = "Nadeem Ahmed"
record1

{'Name': 'Anas',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'Father Name': 'Nadeem Ahmed',
 'Contact': '+92 3142270474',
 'Qualification': 'BS'}

#### Accessing values using keys:

In [19]:
print(record1["Name"]) 
print(record1["Father Name"])

Anas
Nadeem Ahmed

#### Deleting key:value pair:

In [32]:
del record1["Gender"] 
record1

{'Name': 'Anas',
 'Age': 23,
 'City': 'Karachi',
 'Father Name': 'Nadeem Ahmed',
 'Contact': '+92 3142270474',
 'Qualification': 'BS'}

#### Dictionary Functions:

In [33]:
record1.pop("City") # remove the specified element from the dict permanently

'Karachi'

In [34]:
record1.popitem() # remove the last element of the dict permanently

('Qualification', 'BS')

In [36]:
record1.keys() # displays all the keys of the dict

dict_keys(['Name', 'Age', 'Father Name', 'Contact'])

In [38]:
record1.values() # displays all the values of the dict

dict_values(['Anas', 23, 'Nadeem Ahmed', '+92 3142270474'])

In [39]:
record1.items() # displays all the key:value pairs of the dict

dict_items([('Name', 'Anas'), ('Age', 23), ('Father Name', 'Nadeem Ahmed'), ('Contact', '+92 3142270474')])

In [44]:
record1.get("Name")
# displays the value of specified key and if the key isn't available it doesn't show the error

'Anas'

In [47]:
record1.update(meta1) # adds another collection elements one by one
record1

{'Name': 'Anas',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'Height': 5.7,
 'Blood Group': 'B+',
 'Married': 'Yes'}

#### List in dictionary:

In [76]:
students = {
            "Roll_No": [1,2,3,4,5,6,7,8,9,10],
            "Names": ["Asad", "Farooq", "Shayan", "Hashir", "Talha", "Umar", "Asim", "Uzair"], 
            "Courses":["AI and DS","Web Dev", "Cyber Security", "Graphic Design", "Video Editing", 
                       "AI and DS","Web Dev", "Cyber Security", "Graphic Design", "Video Editing"],
            "Marks": [85,70,92,78,56,79,74,85,90,68]
           }

In [77]:
print(students)

{'Roll_No': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Names': ['Asad', 'Farooq', 'Shayan', 'Hashir', 'Talha', 'Umar', 'Asim', 'Uzair'], 'Courses': ['AI and DS', 'Web Dev', 'Cyber Security', 'Graphic Design', 'Video Editing', 'AI and DS', 'Web Dev', 'Cyber Security', 'Graphic Design', 'Video Editing'], 'Marks': [85, 70, 92, 78, 56, 79, 74, 85, 90, 68]}

In [79]:
students["Names"]

['Asad', 'Farooq', 'Shayan', 'Hashir', 'Talha', 'Umar', 'Asim', 'Uzair']

In [80]:
students["Marks"]

[85, 70, 92, 78, 56, 79, 74, 85, 90, 68]

### Tuple:
A tuple is an ordered, immutable collection of elements in Python, defined using parentheses ().
* Syntax = tuple_name = (element1, element2, element3, ...)
* Ordered: arranged sequently
* Immutable: cannot change, add or remmove elements
* Access: using square brackets []
* Values: allow duplicate values
* Data-types: allow all data types (e.g str, int, float etc)
* Indexing: supports indexing and slicing like list
* Packing/Unpacking: combines vaues into tuple/assigns tuple values to varibles

#### Creating a Tuple:

In [3]:
tup1 = ("apple", "mango", "banana", "strawberry", "orange")
tup2 = (1,3,5,7,9,1,3,5,7,9)
tup3 = ("python",)

print("tup1 =", tup1, "and type of tup1 is", type(tup1), "and it's length is", len(tup1))
print("tup2 =", tup2, "and type of tup1 is", type(tup2), "and it's length is", len(tup2))
print("tup3 =", tup3, "and type of tup1 is", type(tup3), "and it's length is", len(tup3))

tup1 = ('apple', 'mango', 'banana', 'strawberry', 'orange') and type of tup1 is <class 'tuple'> and it's length is 5
tup2 = (1, 3, 5, 7, 9, 1, 3, 5, 7, 9) and type of tup1 is <class 'tuple'> and it's length is 10
tup3 = ('python',) and type of tup1 is <class 'tuple'> and it's length is 1

#### Tuple Functions:

In [103]:
tup1.index("strawberry") # displays the index value of the specified element

3

In [95]:
tup2.count(9) # count the occurrence of an element

2

### Set
A set in Python is an unordered collection of unique elements. Sets are mutable, but the elements themselves must be immutable types (e.g., numbers, strings, or tuples).

* Ordered: arranged sequently
* Unique-values: don't allow duplicate values
* Mutable: can change, add or remmove elements
* Indexing: not allowed
* Data-type: immutable (e.g., numbers, strings, or tuples)
* Element-access: not allowed
* Mathematical-operations: support mathematical set operations (union, intersection, difference and symmetric difference)

#### Creating a set

In [47]:
nums = {1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10}
odds = {1,3,5,7,9}
evens = {2,4,6,8,10}
empt = set({})
print("nums =", nums, "length of nums is", len(nums), "it's type is", type(nums))
print("evens =", evens, "length of nums is", len(evens), "it's type is", type(evens))
print("odds =", set(odds), "length of odds is", len(odds), "it's type is", type(odds))
print("empt =", empt, "length of empt is", len(empt), "it's type is", type(empt))

nums = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} length of nums is 10 it's type is <class 'set'>
evens = {2, 4, 6, 8, 10} length of nums is 5 it's type is <class 'set'>
odds = {1, 3, 5, 7, 9} length of odds is 5 it's type is <class 'set'>
empt = set() length of empt is 0 it's type is <class 'set'>

#### Set Functions:

In [22]:
nums.add(100) # adds the specified element in the specified set permanently
nums

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100}

In [20]:
nums.difference(odds) # displays the different elements of first set to second set

{2, 4, 6, 8, 10, 100}

In [41]:
nums.difference_update(odds) # rmoves the common elements of first set with second set permanently
nums

{2, 4, 6, 8, 10}

In [43]:
nums.intersection(odds) # displays the common elements of first set with second set

{1, 3, 5, 7, 9}

In [44]:
nums.intersection_update(odds) # Keeps only common elements of first set with second set permanently
nums

{1, 3, 5, 7, 9}

In [46]:
evens.isdisjoint(odds) # checks whether both sets null intersection or not

True

In [48]:
odds.issubset(nums) # checks whether second set contains all the elements of first set or not

True

In [49]:
nums.issuperset(evens) # checks whether first set contains all the elements of second set or not

True

In [50]:
evens.union(odds) # join both sets but no repeated values

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}